In [2]:
import pandas as pd

# Read the Excel file
data = pd.read_excel('lsoa-data.xls')

# Convert to CSV
data.to_csv('lsoa-data.csv', index=False)

In [10]:
import pandas as pd
import pandas as pd

# Read the CSV file
df = pd.read_csv('PCD_OA21_LSOA21_MSOA21_LAD_NOV22_UK_LU.csv', sep=',',encoding='latin-1')

# Get the unique counts of the last column


# Read the CSV file


# Get the unique counts of the "ladnm" column
unique_counts = df['ladnm'].value_counts()

unique_counts.to_csv('ladnm.csv', index=True)

/var/folders/6g/qtm8fg_s6r13q7nvqklvbfth0000gn/T/ipykernel_84245/640829416.py:5: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('PCD_OA21_LSOA21_MSOA21_LAD_NOV22_UK_LU.csv', sep=',',encoding='latin-1')

In [13]:
import pandas as pd

def add_borough_column(file_path,output_path):
    # Load the CSV file
    data = pd.read_csv(file_path)
    
    # Check if 'Unnamed: 1' is the correct column name
    if 'Unnamed: 1' in data.columns:
        # Create the 'borough' column by stripping the numeric suffix from the 'Unnamed: 1' column
        data['borough'] = data['Unnamed: 1'].str.extract(r'(^[\D\s]+)').apply(lambda x: x.str.strip())

        
        # Get the position of the 'Unnamed: 1' column
        idx = data.columns.get_loc('Unnamed: 1')
        
        # Rearrange columns to place 'borough' right after 'Unnamed: 1'
        cols = list(data.columns)
        # Move 'borough' to the right position
        new_cols = cols[:idx+1] + ['borough'] + cols[idx+1:-1]  # assuming 'borough' is the last in the list
        data = data[new_cols]
        
        # Save the modified dataframe back to CSV or return it
        data.to_csv(output_path, index=False)
        return data
    else:
        raise ValueError("Column 'Unnamed: 1' not found in the data.")

# Example usage
updated_data = add_borough_column('lsoa-data.csv','lsoa_new.csv')
print(updated_data.head())

/var/folders/6g/qtm8fg_s6r13q7nvqklvbfth0000gn/T/ipykernel_84245/542159919.py:5: DtypeWarning: Columns (2,15,28,41,54,67,80,93,94,95,96,97,98,99,100,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,174,175,176,178,179) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

  Unnamed: 0   Unnamed: 1 borough Mid-year Population Estimates  Unnamed: 3  \
0        NaN          NaN     NaN                      All Ages         NaN
1      Codes        Names   Names                          2001      2002.0
2  E01000907  Camden 001A  Camden                          1519      1538.0
3  E01000908  Camden 001B  Camden                          1547      1577.0
4  E01000909  Camden 001C  Camden                          1600      1598.0

   Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1      2003.0      2004.0      2005.0      2006.0      2007.0  ...
2      1528.0      1547.0      1593.0      1492.0      1455.0  ...
3      1605.0      1637.0      1629.0      1598.0      1605.0  ...
4      1618.0      1634.0      1610.0      1635.0      1615.0  ...

   Unnamed: 175  Unnamed: 176  Unnamed: 177  Unnamed: 178  Unnamed: 179  \
0           NaN           NaN           NaN           NaN         Sales
1          2011          2012          2013          2014          2009
2        415000        355000      481249.5        568500             9
3        282500        335000        287500        350000            23
4        435000       1475000       1052000       1412500            11

   Unnamed: 180 Unnamed: 181  Unnamed: 182  Unnamed: 183  Unnamed: 184
0           NaN          NaN           NaN           NaN           NaN
1        2010.0       2011.0        2012.0        2013.0        2014.0
2          14.0         11.0          12.0          16.0          26.0
3          17.0         21.0          27.0          24.0          22.0
4          15.0         19.0          15.0          16.0          16.0

[5 rows x 186 columns]

In [14]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('lsoa_new.csv')

# Count the unique values in the "borough" column
unique_counts = df['borough'].nunique()

print(unique_counts)

/var/folders/6g/qtm8fg_s6r13q7nvqklvbfth0000gn/T/ipykernel_84245/4096177988.py:4: DtypeWarning: Columns (3,16,29,42,55,68,81,94,95,96,97,98,99,100,101,102,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,175,176,177,179,180) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lsoa_new.csv')

34

In [18]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('lsoa_new.csv')

# Select only the desired columns
df = df[['Unnamed: 1', 'borough']]
df = df.rename(columns={'Unnamed: 1': 'lsoa_code'})

# Save the modified dataframe back to CSV
df.to_csv('lsoa_new2.csv', index=False)

/var/folders/6g/qtm8fg_s6r13q7nvqklvbfth0000gn/T/ipykernel_84245/3068494937.py:4: DtypeWarning: Columns (3,16,29,42,55,68,81,94,95,96,97,98,99,100,101,102,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,175,176,177,179,180) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lsoa_new.csv')

In [16]:
import geopandas as gpd

# Load the borough shapefile
borough_shapefile_path = 'data/secondary_data/map/statistical-gis-boundaries-london/ESRI/London_Borough_Excluding_MHW.shp'
borough_gdf = gpd.read_file(borough_shapefile_path)

# Assuming the column with borough names is labeled 'NAME'
borough_counts = borough_gdf['NAME'].value_counts().reset_index()
borough_counts.columns = ['Borough Name', 'Count']

print(borough_counts)

              Borough Name  Count
0     Kingston upon Thames      1
1                Redbridge      1
2     Barking and Dagenham      1
3                   Newham      1
4                 Haringey      1
5                  Hackney      1
6                Islington      1
7            Tower Hamlets      1
8                   Camden      1
9              Westminster      1
10  Kensington and Chelsea      1
11  Hammersmith and Fulham      1
12              Wandsworth      1
13                  Merton      1
14    Richmond upon Thames      1
15                  Sutton      1
16          Waltham Forest      1
17                 Croydon      1
18                 Enfield      1
19                  Bexley      1
20               Greenwich      1
21                Lewisham      1
22               Southwark      1
23                 Lambeth      1
24                  Barnet      1
25                   Brent      1
26                  Harrow      1
27              Hillingdon      1
28                Havering      1
29                  Ealing      1
30                Hounslow      1
31                 Bromley      1
32          City of London      1