In [1]:
import pandas as pd
import numpy as np
uof1 = pd.read_excel('qwe/USE1.xlsx')
uof2 = pd.read_excel('qwe/USE2.xlsx')
uof = pd.concat([uof1, uof2], ignore_index=True)

In [2]:
uof = uof[(uof['IncidentDate'] >= '2024-01-01') & (uof['IncidentDate'] < '2024-04-01')]
uof.head()

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,SubjectNatureOfInjury,SubjectMedOffered,SubjectMedProvided,Outcome: Made off/escaped,Outcome: Arrested,Outcome: Hospitalised,Outcome: Detained - Mental Health Act,Outcome: Fatality,Outcome: Other,Outcome: No Further Action
96251,2024-01-01,23:00:00,No,No,No,No,No,No,No,No,...,NaN,NaN,NaN,No,Yes,No,No,No,No,No
96252,2024-01-01,01:30:00,No,No,No,Yes,No,No,No,No,...,NaN,NaN,NaN,No,No,No,No,No,No,Yes
96253,2024-01-01,16:18:00,Yes,No,No,No,No,No,No,No,...,NaN,NaN,NaN,No,Yes,No,No,No,No,No
96254,2024-01-01,23:02:00,No,No,No,No,No,No,No,No,...,Minor,Yes,Yes,No,Yes,Yes,No,No,No,No
96255,2024-01-01,17:13:00,Yes,No,No,No,No,No,No,No,...,NaN,NaN,NaN,No,Yes,No,No,No,No,No

In [3]:
check = ['SubjectAge']
base = ['Borough']
outcome = [col for col in uof.columns if col.startswith('Outcome:')]
training = []

temp = uof[check+base+outcome]
grouped = temp.groupby(['Borough'])
total_counts = grouped.size()

underaged_counts = temp[(temp['SubjectAge'] == "0-10")|(temp['SubjectAge'] == "11-17")].groupby(['Borough']).size()
percent_underaged = (underaged_counts).reindex(grouped.indices, fill_value=0)
temp['Under18'] = temp.set_index(['Borough']).index.map(percent_underaged)
training.append('Under18')

underaged_counts = temp[(temp['SubjectAge'] == "18-34")].groupby(['Borough']).size()
percent_underaged = (underaged_counts).reindex(grouped.indices, fill_value=0)
temp['Age18to34'] = temp.set_index(['Borough']).index.map(percent_underaged)
training.append('Age18to34')

underaged_counts = temp[(temp['SubjectAge'] == "35-49")].groupby(['Borough']).size()
percent_underaged = (underaged_counts).reindex(grouped.indices, fill_value=0)
temp['Age35to49'] = temp.set_index(['Borough']).index.map(percent_underaged)
training.append('Age35to49')

over50_counts = temp[(temp['SubjectAge'] == "50-64")|(temp['SubjectAge'] == "65 and over")].groupby(['Borough']).size()
percent_over50 = (over50_counts).reindex(grouped.indices, fill_value=0)
temp['Over50'] = temp.set_index(['Borough']).index.map(percent_over50)
training.append('Over50')

over50_counts = temp[(temp['SubjectAge'] == "50-64")|(temp['SubjectAge'] == "65 and over")].groupby(['Borough']).size()
percent_over50 = (over50_counts).reindex(grouped.indices, fill_value=0)
temp['Over50'] = temp.set_index(['Borough']).index.map(percent_over50)
training.append('Over50')

firearmsaimed_counts = temp[(temp['Outcome: Arrested'] == "Yes")].groupby(['Borough']).size()
percent_firearmsaimed = (firearmsaimed_counts).reindex(grouped.indices, fill_value=0)
temp['Arrested'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
training.append('Arrested')

firearmsaimed_counts = temp[(temp['Outcome: Hospitalised'] == "Yes")].groupby(['Borough']).size()
percent_firearmsaimed = (firearmsaimed_counts).reindex(grouped.indices, fill_value=0)
temp['Hospitalised'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
training.append('Hospitalised')

firearmsaimed_counts = temp[(temp['Outcome: Detained - Mental Health Act'] == "Yes")].groupby(['Borough']).size()
percent_firearmsaimed = (firearmsaimed_counts).reindex(grouped.indices, fill_value=0)
temp['DetainedMHA'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
training.append('DetainedMHA')

firearmsaimed_counts = temp[(temp['Outcome: Other'] == "Yes")].groupby(['Borough']).size()
percent_firearmsaimed = (firearmsaimed_counts).reindex(grouped.indices, fill_value=0)
temp['Other'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
training.append('Other')

temp['UoF Cases'] = temp.groupby(['Borough'])['Borough'].transform('count')
temp['Log of UoF Cases'] = np.log(temp['UoF Cases'])
training.append('Log of UoF Cases')

temp = temp.drop(columns=(check+outcome))
temp = temp.drop(columns=['UoF Cases'])
temp = temp.fillna(0)
temp.drop_duplicates(inplace=True)
temp = temp.reset_index()
temp = temp.drop(columns=['index'])
temp.head(50)

C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Under18'] = temp.set_index(['Borough']).index.map(percent_underaged)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Age18to34'] = temp.set_index(['Borough']).index.map(percent_underaged)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Age35to49'] = temp.set_index(['Borough']).index.map(percent_underaged)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Over50'] = temp.set_index(['Borough']).index.map(percent_over50)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Over50'] = temp.set_index(['Borough']).index.map(percent_over50)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Arrested'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Hospitalised'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['DetainedMHA'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Other'] = temp.set_index(['Borough']).index.map(percent_firearmsaimed)
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['UoF Cases'] = temp.groupby(['Borough'])['Borough'].transform('count')
C:\Users\Wei Xun\AppData\Local\Temp\ipykernel_16936\3867687808.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Log of UoF Cases'] = np.log(temp['UoF Cases'])

,Borough,Under18,Age18to34,Age35to49,Over50,Arrested,Hospitalised,DetainedMHA,Other,Log of UoF Cases
0,Hillingdon,43,330,196,61,419,52,49,69,6.445720
1,Tower Hamlets,94,609,362,59,757,54,63,111,7.024649
2,Lewisham,127,544,358,125,763,80,60,151,7.050989
3,Newham,180,516,290,113,801,46,26,89,7.002156
4,Southwark,165,580,247,77,676,63,65,96,6.974479
5,Lambeth,127,548,278,97,661,49,67,126,6.956545
6,Brent,84,443,247,73,555,51,54,80,6.741701
7,Hounslow,131,473,278,88,581,86,110,80,6.877296
8,City of Westminster,158,1502,566,170,1540,139,116,253,7.781556
9,Islington,64,456,274,77,558,48,58,111,6.769642
10,Hammersmith and Fulham,66,434,246,103,530,64,64,120,6.744059
11,Haringey,103,416,266,78,573,48,35,108,6.760415
12,Harrow,48,196,133,28,288,19,17,35,6.003887
13,Havering,107,423,198,57,515,56,41,103,6.665684
14,Kensington and Chelsea,38,206,108,46,293,25,34,29,5.986452
15,Bexley,94,321,150,58,378,43,38,88,6.434547
16,Ealing,115,481,265,76,596,66,63,89,6.842683
17,Out of force,38,157,73,18,209,7,14,32,5.655992
18,Richmond upon Thames,23,84,68,20,130,12,18,20,5.273000
19,Greenwich,132,399,200,56,536,42,54,65,6.668228
20,Barnet,41,267,167,55,372,35,35,48,6.272877
21,Wandsworth,82,272,186,62,367,34,26,112,6.400257
22,Sutton,38,118,85,25,189,28,9,29,5.583496
23,Croydon,188,621,329,93,843,75,103,115,7.115582
24,Hackney,136,642,336,125,778,63,95,159,7.122060
25,Camden,91,372,205,101,513,56,43,97,6.645091
26,Enfield,88,396,197,67,533,39,51,53,6.617403
27,Heathrow,6,85,59,28,111,10,16,47,5.181784
28,Barking and Dagenham,98,304,188,43,429,54,9,82,6.450470
29,Merton,47,113,90,24,195,23,20,11,5.613128
30,Waltham Forest,112,325,175,57,456,34,27,87,6.505784
31,Bromley,72,243,154,57,351,21,20,69,6.265301
32,Redbridge,60,223,134,47,314,36,32,45,6.139885
33,Kingston upon Thames,66,203,102,24,265,31,13,72,5.978886

In [4]:
temp.to_csv('data/output_files/predict.csv', index=False)